body {
  padding-top: 50px;
}

.page-headline {
  padding: 40px 15px;
  text-align: center;
}

#learn-status {
	margin-left: 5px;
	width: 20px;
	height: 20px;
}

#learn-log img {
	border: 2px;
	border-style: groove;
	border-radius: 5px;
	margin: 2px;
	padding: 5px;
}

.learn-controls .tab-content form {
	margin-top: 2em;
	margin-bottom: 1em;
}

.log-entry-wrapper {
	padding-top: 5px;
	padding-left: 5px;
	border: 0px;
}

.log-entry-wrapper.even {
	border-left: 2px;
	border-color: #cccccc;
	border-style: solid;
	border-radius: 15px;
}

.log-entry-wrapper.odd {
	border-left: 2px;
	border-color: #999999;
	border-style: solid;
	border-radius: 15px;
}

.log-entry {
	padding-left: 15px;
}

.log-entry strong {
	font-size: 20px;
}

.log-entry mark {
	background-color: #666666;
	border-radius: 5px;
	padding: 2px;
	color: #fff;
}

.log-entry div pre {
	white-space: pre-wrap;
}

mark.err {
	background-color: #cccccc;
	color: red;
}

.step-container {
	border: 0px;
	border-left: 2px;
	border-radius: 15px;
	border-style: solid;
	border-color: #cccccc;
	
	padding: 5px;
	margin-top: 10px;
}

.step-container.FAIL {
	border-color: red;
}

.step-container.PASS {
	border-color: green;
}

.step-container.NOT_RUN {
	border-color: #4c3ab6;
}

.step-container a {
	color: black;
	text-decoration: underline;
}

.status-image {
	margin-left: 10px;
	margin-right: 5px;
	width: 25px;
	height: 25px;
}

.status-image-description {
	color: #b40000;
}

.step-head form {
	margin-bottom: 10px;
	padding-left: 5px;
}

.step-description {
	padding-left: 10px;
	border: 0px;
	border-left: 1px;
	border-radius: 15px;
	border-style: dotted;
	border-color: black;
}

.step-description h1 {
	margin-top: 2px;
}

code {
	font-family: monospace, monospace;
	color: inherit;
	background: inherit;
	font-size: inherit;
}
