body {
  padding-top: 50px;
}

.page-headline {
  padding: 40px 15px;
  text-align: center;
}

#learn-log img {
	border: 2px;
	border-style: groove;
	border-radius: 5px;
	margin: 2px;
	padding: 5px;
}

.log-entry-wrapper {
	padding-top: 5px;
	padding-left: 5px;
	border: 0px;
}

.log-entry-wrapper.even {
	border-left: 2px;
	border-color: #cccccc;
	border-style: solid;
	border-radius: 15px;
}

.log-entry-wrapper.odd {
	border-left: 2px;
	border-color: #999999;
	border-style: solid;
	border-radius: 15px;
}

.log-entry {
	padding-left: 15px;
}

.log-entry strong {
	font-size: 20px;
}

.log-entry mark {
	background-color: #666666;
	border-radius: 5px;
	padding: 2px;
	color: #fff;
}

mark.err {
	background-color: #cccccc;
	color: red;
}
